<div class="loginPage">
    <h3>LOGIN PAGE</h3><br /><br />
    <div class="mb-3 row">
        <label for="exampleFormControlInput1" class="col-sm-2 col-form-label">Login Id</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" id="loginId" (keyup)="onKey($event)">
        </div>
        
    </div>
    <div class="mb-3 row">
        <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="password" (keyup)="onKey($event)">
        </div>
    </div>
    <div class="button-group">
        <div>
            <button type="button" class="btn btn-light" (click)="newUserClick()">New User ?</button>
        </div>
        <div>
            <button type="button" class="btn bomb-color" (click)="loginButtonClick()">Login</button>
        </div>
        <div>
            <button type="button" class="btn btn-link" (click)="forgetPasswordClick()">Forget Pasword</button>
        </div>
    </div>
</div>