<div class="forgetpassword">
    <h3>Forget Password</h3>
    <div class="mb-3 row top-row">
        <label for="exampleFormControlInput1" class="col-sm-2 col-form-label">Login Id</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="loginid" (keyup)="onKey($event)">
        </div>
        
    </div>
    <div class="mb-3 row">
        <label for="inputPassword" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
          <input type="email" class="form-control" id="email" (keyup)="onKey($event)">
        </div>
    </div>
    <div class="mb-3 row">
        <label for="inputPassword" class="col-sm-2 col-form-label">New Password</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="password" (keyup)="onKey($event)">
        </div>
    </div>
    <div class="mb-3 row">
        <label for="inputPassword" class="col-sm-2 col-form-label">Confirm Password</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="conpassword" (keyup)="onKey($event)">
        </div>
    </div>
    <div>
        <button type="button" class="btn bomb-color" (click)="savePassword()">Save</button>
    </div>
</div>
